body{
    background-color: #FFCC99;
}
.timer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    border: solid red;
    padding: 25px;
    background-color: #2196f3;
}
.label{
    margin-right: 25px;
    color: #ffffff
}
.value,
.label{
    font-size: 75px;
}